body {
    background: #869D7A;
}

div {
    width: 1280px;
    height: 832px;
}
/* body {
    background: #869D7A;;
  }
  
  h1, h2, p {
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
    color: #9f6f47;
  } */
