html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.macbook-air {
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.green {
  background-color: #869d7a;
  height: 100vh;
  position: relative;
}

.gray {
  background-color: #d9d9d9;
  min-height: 100vh;
  position: relative;
}

.component, .div-wrapper, .rectangle, .frame {
  background-color: #869d7a;
}

.text-wrapper, .text-wrapper-2, .text-wrapper-3, .text-wrapper-4, .text-wrapper-5 {
  font-family: "Courier New", Helvetica;
  font-weight: 400;
  color: #000000;
}

.text-wrapper-2, .text-wrapper-3 {
  color: #d9d9d9;
}

.lets-go {
  position: relative;
  width: 193px;
  height: 45px;
}

.text-wrapper-2 {
  position: absolute;
  height: 45px;
  top: -1px;
  left: 0;
  font-style: italic;
  font-size: 40px;
  white-space: nowrap;
}

.text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
}

.component {
  height: 160px;
  top: 82px;
  left: 74px;
  position: absolute;
  width: 640px;
}

.div-wrapper {
  height: 160px;
  top: 322px;
  left: 258px;
  position: absolute;
  width: 640px;
}

.rectangle {
  position: absolute;
  width: 260px;
  height: 832px;
  top: 0;
  left: 990px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 832px;
  align-items: center;
  justify-content: space-between;
  padding: 38px 21px;
  position: absolute;
  top: 0;
  left: 990px;
}

.component-2 {
  height: 124px;
  top: 166px;
  left: 140px;
  background-color: #d9d9d9;
  position: absolute;
  width: 640px;
}

.text-wrapper-4 {
  position: absolute;
  width: 600px;
  height: 96px;
  top: 13px;
  left: 20px;
  font-size: 40px;
}

.component-3 {
  height: 124px;
  top: 350px;
  left: 500px;
  background-color: #d9d9d9;
  position: absolute;
  width: 640px;
}

.text-wrapper-5 {
  position: absolute;
  width: 600px;
  height: 96px;
  top: 13px;
  left: 20px;
  font-size: 40px;
  text-align: right;
}

.arrow {
  position: absolute;
  width: 1px;
  height: 160px;
  top: 507px;
  left: 1120px;
}
