body, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page1 {
  background-color: #869d7a;
  width: 100%;
  height: 200vh;
  position: relative;
  overflow-y: auto;
}

.page1 .welcome-block {
  height: 124px;
  top: 166px;
  left: 140px;
  background-color: #d9d9d9;
  position: absolute;
  width: 640px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
}

.page1 .welcome-text {
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #000000;
  font-size: 40px;
  text-align: left;
}

.page1 .name-block {
  height: 124px;
  top: 420px;
  right: 140px;
  background-color: #d9d9d9;
  position: absolute;
  width: 640px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
}

.page1 .name-text {
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #000000;
  font-size: 40px;
  text-align: right;
}

.page1 .menu-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 260px;
  height: 832px;
  padding: 12px 20px 12px 20px ;
  position: absolute;
  top: calc(100vh - 60px);
  right: 20px;
  background-color: #334e58;
  box-sizing: border-box;
  clip-path: inset(-100px 0 0 0);
  transition: clip-path 0.5s ease;
}

.page1 .menu-text {
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  font-style: italic;
  color: #d9d9d9;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: lowercase;
}

.page1 ul {
  list-style-type: none;
  padding: 0;
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #d9d9d9;
  font-size: 32px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.page1 ul li {
  margin: 10px 0;
}

.page1 .about-me {
  position: absolute;
  top: 600px; /* Adjust to position below the title cards */
  left: 20px; /* Adjust to position to the left of the menu block */
  width: calc(100% - 300px); /* Leave space for the menu block */
}

.page1 .about-me-title-block {
  width: 236px;
  height: 72px;
  background-color: #de8f6e;
  top: 166px;
  left: 140px;
  position: absolute;
  width: 640px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
}

.page1 .about-me-title-text {
  position: absolute;
  top: 12px;
  left: 21px;
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page1 .about-me-block1,
.page1 .about-me-block2 {
  background-color: #d9d9d9;
  padding: 20px;
  margin-bottom: 20px;
  width: 598px;
}

.page1 .about-me-text1,
.page1 .about-me-text2 {
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #000000;
  font-size: 24px;
}

/* .page1 .menu-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 260px;
  height: 300px; /* Adjust height as needed */
  padding: 12px 20px;
  position: fixed; /* Use fixed positioning */
  bottom: 20px; /* Align to the bottom */
  right: 20px; /* Align to the right */
  background-color: #334e58;
  box-sizing: border-box;
  clip-path: inset(-100px 0 0 0);
  transition: clip-path 0.5s ease;
} */

/* .page1 .about-me-block1 {
  position: relative;
  width: 640px;
  height: 160px;
  background-color: #d9d9d9;
}

.page1 .about-me-text1 {
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #000000;
  font-size: 24px;
  text-align: right;
}

.page1 .about-me-block2 {
  position: relative;
  width: 640px;
  height: 160px;
  background-color: #d9d9d9;
}

.page1 .about-me-text2 {
  font-family: "Courier New", Helvetica;
  font-weight: 50;
  color: #000000;
  font-size: 24px;
  text-align: right;
} */

/* .page1 ul li a {
  color: #d9d9d9;
  text-decoration: none;
}

.page1 ul li a:hover {
  color:#de8f6e;
} */